<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
	<title></title>
	<style type="text/css">
	.fade-enter-active, .fade-leave-active {
	  transition: opacity .5s;
	}
	.fade-enter, .fade-leave-to {
	  opacity: 0;
	}
	.bounce-enter-active {
	  animation: bounce-in .5s;
	}
	.bounce-leave-active {
	  animation: bounce-in .5s reverse;
	}
	@keyframes bounce-in {
	  0% {
	    transform: scale(0);
	  }
	  50% {
	    transform: scale(1.5);
	  }
	  100% {
	    transform: scale(1);
	  }
	}
	</style>
</head>
<body>
<div id="demo">
	<button v-on:click="show = !show">
		Toggle
	</button>
	<transition name="fade">
		<p v-if="show" key="1">hello</p>
		<p v-else key="2">nihao</p>
	</transition>
</div>
<div id="a">
	<button @click="show=!show">Toggle show</button>
	<transition name="bounce">
		<p v-if="show">反正这个是一段话，展示的就是css的动画效果</p>
	</transition>
</div>
</body>
<script>
	new Vue({
		el:"#demo",
		data:{
			show:true
		}
	});
	new Vue({
		el:"#a",
		data:{
			show:true
		}
	})
</script>
</html>