<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<title></title>
</head>
<body>
  <div id="app">
    <span class="demonstration">默认</span>
    <el-date-picker
      v-model="value3"
      type="daterange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      value-format="yyyy-MM-dd"
      v-on:change="change1">
    </el-date-picker>
    <p>{{value3}}</p>
      <li v-for="item in items">
            <span>{{item}}</span>
      </li>
  </div>
<script>
Date.prototype.format = function () {
    var s = "";
    s += this.getFullYear() + "-";
    s += this.getMonth() + 1 + "-";
    s += this.getDate();
    return s;
  };
 var app = new Vue({
	el:'#app',
    data() {
    	return{
    		items:[],
        	value3:[]
    }
      },
    methods:{
    	change1(){
    		var begin = this.value3[0];
	        console.log(begin);
	        var end = this.value3[1];
	        var item = new Array();
	        console.log(item);
	        this.items = item;
	        console.log(item);
	        var ab = begin.split("-");
	        var ae = end.split("-");
	        var db = new Date();
	        db.setUTCFullYear(ab[0], ab[1] - 1, ab[2]);
	        var de = new Date();
	        de.setUTCFullYear(ae[0], ae[1] - 1, ae[2]);
	        var unixDb = db.getTime();
	        var unixDe = de.getTime();
	        for (var k = unixDb; k <= unixDe;) {
	          item.push(new Date(parseInt(k)).format().toString());
	          k = k + 24 * 60 * 60 * 1000;
	        }
	        return item;
	    	}
    }
  })
</script>
</body>
</html>